html {
  font-size: 62.5%;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #C4133F;
	font-size: 1.8rem;
	background: url(img/tartan.png);
}

.main {
	position: absolute;
	top: 50px;

}
.page-header {
	padding: 5px;
	color: #ffffff;
	background-color: #C4133F;
	
}

.learning {
	background-color: #ffffff;
	padding: 30px 0;
}

.displayingWords {
	height: 70px;
	margin: 0 20px 20px 20px;
	font-weight: bold;
}

.btn {
	border: 1px solid #C4133F;
	background-color: #ffffff;
	color: #C4133F;
	padding: 5px;
}

.page-footer {
	
	padding: 3px;
	background-color: #C4133F;
	font-size: 1.2rem;
	text-align: right;
}

.page-footer a {
	text-decoration: none;
	color: #ffffff;
}

@media (min-width: 640px) {
	.main {
		max-width: 90vw;
		margin: auto;
		margin-top: 30px;
		border: 3px solid #781830;
		position: relative;
		border-radius: 1px;
		
	}

	.btn:hover{
		background-color: #781830;
		color: #ffffff;

	}

	.page-footer {
		padding-right: 20px;
	}

	.page-footer a:hover {
		font-weight: bold;
	} 
}
