html {
  font-size: 62.5%;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #09465c;
	font-size: 1.8rem;
}

.page-header {
	padding: 15px;
	color: #ffffff;
	background-color: #09465c;
	margin-bottom: 50px;
}

.displayingWords {
	height: 70px;
	margin: 0 20px 20px 20px;
	font-weight: bold;
}

.btn {
	border: 1px solid #09465c;
	background-color: #ffffff;
	color: #09465c;
	padding: 2px;
}

.page-footer {
	margin-top: 50px;
	padding: 3px;
	background-color: #09465c;
	font-size: 1.2rem;
	text-align: right;
}

.page-footer a {
	text-decoration: none;
	color: #ffffff;
}

@media (min-width: 640px) {
	.main {
		max-width: 90vw;
		margin: auto;
		margin-top: 30px;
		border: 2px solid #09465c;
		border-radius: 5px;
	}

	.btn:hover{
		background-color: #09465c;
		color: #ffffff;

	}

	.page-footer {
		padding-right: 20px;
	}

	.page-footer a:hover {
		font-weight: bold;
	} 
}
